////////////////////////////////////////////////
// MATERIA
////////////////////////////////////////////////
$orange: #FF9800;
$yellow: #FFEB3B;
$green: #4CAF50;
$turquoise: #009688;
$blue: #03A9F4;
$purple: #9C27B0;
$red: #F44336;
$primary: #2196F3 !default;

$link-hover: darken($primary, 10);
$button-hover: #363636;

$family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title-weight: 400;
$title-weight-bold: 500;

$radius: 0;
$shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow-large: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

$button-border: transparent;
$button-hover-border: transparent;
$button-focus-border: transparent;
$button-active-border: transparent;

$input-disabled-background: transparent;

$border-width: 2px;
