////////////////////////////////////////////////
// SUPERHERO
////////////////////////////////////////////////
$grey-darker:  #1f2d3b;
$grey-dark:    #2B3E50;
$grey:         #4E5D6C;
$grey-light:   #8694a4;
$grey-lighter: #dee5ed;

$orange:       #DF691A;
$yellow:       #f0ad4e;
$green:        #5cb85c;
$blue:         #5bc0de;
$red:          #d9534f;

$primary: $orange !default;

$dark: darken($grey-darker, 3);

$title: $grey-lighter;
$title-weight: 400;
$subtitle-strong: $grey-lighter;
$subtitle: darken($grey-lighter, 10);
$subtitle-strong: darken($grey-lighter, 10);

$background: $grey-dark;
$body-background: $grey-darker;

$border: $grey;

$family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$text: $grey-lighter;
$text-strong: darken($grey-lighter, 10);
$text-light: $grey-light;

$link: $grey-light;
$link-hover: $grey-lighter;
$link-focus: $grey-lighter;
$link-active: $grey-lighter;

$button: $grey-lighter;
$button-background: $grey;
$button-border: $grey;

$button-hover-border: transparent;
$button-active-border: transparent;

$radius: 0;
$radius-small: 0;

$input-hover: $link-hover;

$table            : $text;
$table-head       : $grey-lighter;
$table-background : $grey-dark;
$table-border     : $grey;
$table-row-hover-background     : $grey-darker;
$table-row-even-background      : $grey-darker;
$table-row-even-hover-background: lighten($grey-darker, 4);
