////////////////////////////////////////////////
// LITERA
////////////////////////////////////////////////
$grey-darker:  #363636;
$grey-dark:    #373a3c;
$grey:         #55595c;
$grey-light:   #818a91;
$grey-lighter: #d9dee2;

$orange:       #f0ad4e;
$yellow:       #ffd500;
$green:        #02B875;
$blue:         #45b2d3;
$red:          #d9534f;

$link: #4582EC !default;
$primary: $blue !default;
$danger: $orange;

$subtitle-color: $grey;

$family-heading: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

$body-size: 15px;

$family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$navbar-height: 5rem;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $link;
$navbar-item-active-background-color: transparent;

$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-active-background-color: transparent;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 1px $grey-light;