////////////////////////////////////////////////
// LITERA
////////////////////////////////////////////////
$grey-darker:  #363636;
$grey-dark:    #373a3c;
$grey:         #55595c;
$grey-light:   #818a91;
$grey-lighter: #d9dee2;

$orange:       #f0ad4e;
$yellow:       #ffd500;
$green:        #02B875;
$blue:         #5bc0de;
$red:          #d9534f;

$primary: #4582EC !default;
$danger: $orange;

$subtitle: $grey;

$family-heading: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

$size-normal: 1.1rem;

$family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
