////////////////////////////////////////////////
// CERULEAN
////////////////////////////////////////////////
$orange:       #DD5600;
$yellow:       #dab424;
$green:        #73A839;
$turquoise:    #5bc0de;
$blue:         #033C73;
$purple:       #7e5ea3;
$red:          #C71C22;

$primary: #2FA4E7 !default;
$primary-dark: #317EAC;
$warning: $orange;

$orange-invert: #fff;
$warning-invert: $orange-invert;

$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$title: $primary-dark;
$title-weight: 500;
$title-weight-bold: 700;

$subtitle-weight: 300;
$subtitle-strong: 500;

// $navbar-background: $primary;
// $navbar-item: #fff;
// $navbar-item-hover: #fff;
// $navbar-item-hover-background: rgba(#000, 0.05);
// $navbar-item-active: #eee;
// $navbar-item-active-background: rgba(#000, 0);
// $navbar-dropdown-arrow: $navbar-item;
