////////////////////////////////////////////////
// CERULEAN
////////////////////////////////////////////////
$orange:       #DD5600;
$yellow:       #dab424;
$green:        #73A839;
$turquoise:    #5bc0de;
$blue:         #033C73;
$purple:       #7e5ea3;
$red:          #C71C22;
$grey:         #dbdbdb;

$primary: #2FA4E7 !default;
$primary-dark: #317EAC;
$warning: $orange;
$info: #d8dce0;

$info-invert: #333;
$orange-invert: #fff;
$warning-invert: $orange-invert;

$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$title-color: $primary-dark;
$title-weight: 500;
$title-weight-bold: 700;

$subtitle-weight: 300;
$subtitle-strong-color: 500;

$box-shadow: 0 0 0 1px $grey;
