<nav class="main-nav nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="{{ site.url }}{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/icons/apple-touch-icon-144x144.png" alt="" class="logo">
        <h1 class="title is-5">{{ site.title }}</h1>
      </a>
      <a class="nav-item {% if page.route == 'home' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      {% assign themes = (site.themes | sort: 'order') %}
      <div class="nav-item">
        <span class="theme-switcher select">
          <select>
            <option value="" disabled selected>Themes</option>
            <option disabled>───</option>
            {% for t in themes %}
              {% capture theme %}/{{ t.name | slugify }}{% endcapture %}
              <option value="{{ t.name | slugify }}" {% if theme == page.id %}selected{% endif %}>{{ t.name }}</option>
            {% endfor %}
          </select>
        </span>
      </div>
      <a class="nav-item {% if page.route == 'help' %}is-active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/help/">Help</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a href="https://github.com/jenil/bulmaswatch/stargazers" class="nav-item">
      <img src="https://img.shields.io/github/stars/jenil/bulmaswatch.svg" alt="GitHub stars">
      </a>
      <a class="nav-item" href="{{ site.repo_url }}/issues" target="_blank"
      onclick="ga('send', 'event', 'nav', 'click', 'issue');">
        <i class="fa fa-bug"></i>&nbsp;Report an issue
      </a>
      <a class="nav-item" href="{{ site.repo_url }}" target="_blank"
      onclick="ga('send', 'event', 'nav', 'click', 'github');">
        <span class="icon"> <i class="fa fa-github"></i> </span>
      </a>
      <a class="nav-item" href="//twitter.com/geekGogari" target="_blank"
      onclick="ga('send', 'event', 'nav', 'click', 'twitter');">
        <span class="icon"> <i class="fa fa-twitter"></i> </span>
      </a>
    </div>
  </div>
</nav>
