// Overrides
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@mixin btn-shadow($color) {
  background-image: linear-gradient(180deg, lighten($color, 3%) 0%, $color 60%, darken($color, 3%) 100%);
  filter: none;
}

.box {
  box-shadow: 0 0 0 1px $border;
}

.button,
.control.has-icons-left .icon,
.control.has-icons-right .icon,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea {
  height: 2.286em;
}

.button {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &:not(.is-outlined):not(.is-inverted) {
        border: 1px solid darken($color, 6.5%);
        @include btn-shadow($color);
      }
    }
  }
}

.input,
.textarea {
  box-shadow: none;
}

.card {
  box-shadow: 0 0 0 1px $border;
  background-color: $white-bis;

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $border;
  }
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      background-color: rgba($color, .1);
      color: $color;
      border: 1px solid rgba($color, .2);
    }
  }
}

.navbar {
  .has-dropdown .navbar-item {
    @include desktop {
      color: $text;
    }
  }

  .navbar-burger {
    span {
      background-color: $navbar-item;
    }

    &:hover {
      background-color: $navbar-item-hover-background-color;

      span {
        background-color: $navbar-item-active;
      }
    }
  }
}

.nav {
  background-color: $primary;
  color: $white;
  @media screen and (max-width: $tablet - 1) {
    .nav-menu {
      background-color: $primary;
    }
  }

  .subtitle,
  .title {
    color: $white-bis;
  }

  .nav-item a:not(.button),
  a.nav-item:not(.button) {
    color: rgba($white, 0.75);

    &:hover {
      color: $white;
    }
    // Modifiers
    &.is-active {
      color: $white;

      &.is-tab {
        border-bottom-color: $white;
      }
    }
  }

  .nav-toggle {
    &:hover {
      background-color: rgba($black, 0.075);
    }

    span {
      background-color: rgba($white, 0.75);
    }
  }
}

.hero {
  // Colors
  .nav {
    background-color: $primary;
    @include btn-shadow($primary);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .nav {
        background: none;
      }

      .nav-item a:not(.button),
      a.nav-item {
        color: $color-invert;

        &.is-active,
        &:hover {
          background-color: darken($color, 10);
          color: $color-invert;
        }
      }
    }
  }
}
