////////////////////////////////////////////////
// SIMPLEX
////////////////////////////////////////////////
$grey-darker: #373a3c;
$grey-dark: #444;
$grey: #777;
$grey-light: #bbb;
$grey-lighter: #ddd;

$orange: #d9831f;
$green: #469408;
$blue: #029acf;
$cyan: #0fc5d9;
$purple: #9b479f;
$red: #d9230f;
$white-bis: #fafafa;

$primary: $red !default;
$primary-dark: darken($primary, 10);
$warning: $purple;
$danger: $orange;

$orange-invert: #fff;
$warning-invert: $orange-invert;

$family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-size: 14px;

$navbar-background-color: $primary;
$navbar-item-color: rgba(#fff, 0.7);
$navbar-item-hover-color: #fff;
$navbar-item-active-color: #fff;
$navbar-item-hover-background-color: rgba(#000, 0.1);
$navbar-dropdown-arrow: $navbar-item-color;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 0 1px $grey-lighter;
$card-shadow: 0 0 0 1px $grey-lighter;
$card-header-shadow: none;
$card-background-color: $white-bis;
