/*! bulmaswatch v0.3.2 | MIT License */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "variables";
@import "bulma";

.modal-card-title,
.subtitle,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: $family-heading;
}

.box {
    box-shadow: 0 0 0 1px $grey-lighter;
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
    height: 2.534em;
}

.button {
    transition: all 200ms ease;
    font-weight: 500;
    font-family: $family-heading;

    &.is-active,
    &.is-focused,
    &:active,
    &:focus {
        box-shadow: 0 0 0 2px rgba($button-focus-border, 0.25);
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            &.is-active,
            &.is-focused,
            &:active,
            &:focus {
                border-color: $color;
                box-shadow: 0 0 0 2px rgba($color, 0.25);
            }
        }
    }
}

.input,
.textarea {
    transition: all 200ms ease;
    box-shadow: none;
}

.notification {
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            a:not(.button) {
                color: $color-invert;
                text-decoration: underline;
            }
        }
    }
}

.card {
    box-shadow: none;
    border: 1px solid $grey-lighter;
    border-radius: $radius;

    .card-image {
        img {
            border-radius: $radius $radius 0 0;
        }
    }

    .card-header {
        box-shadow: none;
        border-bottom: 1px solid $grey-lighter;
        border-radius: $radius $radius 0 0;
    }
}

.card-header-title,
.menu-label,
.message-header,
.panel-heading {
  font-family: $family-heading;
  font-weight: normal;
}

.menu-list a {
  border-radius: $radius;
}

.nav {
    background-color: $primary;
    border-radius: $radius;
    color: rgba($white, 0.6);

    .subtitle,
    .title {
        color: rgba($white, 0.6);
        font-family: $family-heading;
    }

    .nav-item a:not(.button),
    a.nav-item:not(.button) {
        color: rgba($white, 0.6);
        font-family: $family-heading;

        &:hover {
            color: $white;
        }
        // Modifiers
        &.is-active {
            color: $white;

            &.is-tab {
                border-bottom-color: rgba($white, 0.6);
            }
        }
    }

    .nav-toggle {
        &:hover {
            background-color: rgba($white, 0.1);
            span {
                background-color: $white;
            }
        }

        span {
            background-color: rgba($white, 0.6);
        }
    }
}

.hero .nav,
body > .nav {
    border-radius: 0;
}

.hero {
    // Colors
    .nav {
        background-color: $primary;
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            .nav {
                background: none;
            }

            .nav-item a:not(.button),
            a.nav-item {
                color: rgba($color-invert, 0.6);

                &.is-active,
                &:hover {
                    color: $color-invert;
                }
            }
        }
    }
}

.panel-block.is-active {
    color: $primary;
}
