/*! bulmaswatch v0.3.1 | MIT License */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import "variables";
@import "bulma";

body {
    font-size: $size-normal;
}

hr {
    height: $border-width;
}

h6 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.box {
    box-shadow: none;
    background-color: $white-ter;
}

.button {
    transition: all 200ms ease;
    border-width: $border-width;

    &.is-active,
    &.is-focused,
    &:active,
    &:focus {
        box-shadow: 0 0 0 2px rgba($button-focus-border, 0.25);
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            &.is-active,
            &.is-focused,
            &:active,
            &:focus {
                border-color: $color;
                box-shadow: 0 0 0 2px rgba($color, 0.25);
            }
        }
    }
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
    height: 2.5em;
}

.input,
.textarea {
    box-shadow: none;
    border-width: $border-width;
}

.select {
    &:after,
    select {
        border-width: $border-width;
    }
}

.control {
    &.has-addons {
        .button,
        .input,
        .select {
            margin-right: -$border-width;
        }
    }
}

.card {
    box-shadow: none;
    border: $border-width solid $grey-lighter;
    background-color: $white-bis;
    border-radius: $radius;

    .card-image {
        img {
            border-radius: $radius $radius 0 0;
        }
    }

    .card-header {
        box-shadow: none;
        background-color: rgba($white-ter, .8);
        border-radius: $radius $radius 0 0;
    }

    .card-footer {
        background-color: rgba($white-ter, .8);
    }

    .card-footer,
    .card-footer-item {
        border-width: $border-width;
    }
}

.tag {
    border-radius: $radius;
}

.menu-list li a {
    transition: all 300ms ease;
}

.message-header {
    font-weight: $weight-bold;
}

.message-body {
    border-width: $border-width;
}

.nav {
    background-color: $primary;
    border-radius: $radius;
    color: $white;

    .nav-item a,
    a.nav-item {
        &:hover {
            color: $button-hover;
        }
    }

    .nav-item a:not(.button),
    a.nav-item:not(.button) {
        color: $white;

        &:hover {
            background-color: $button-hover;
            color: $turquoise;
        }
        // Modifiers
        &.is-active {
            color: $white;
            background-color: $button-active;

            &.is-tab {
                border-bottom-color: $turquoise;
            }
        }
    }

    .nav-toggle {
        &:hover {
            background-color: $button-active;
        }

        span {
            background-color: $white;
        }
    }
}

.pagination-link,
.pagination-next,
.pagination-previous {
    border-width: $border-width;
}

.panel-block,
.panel-heading,
.panel-tabs {
    border-width: $border-width;

    &:first-child {
        border-top-width: $border-width;
    }
}

.panel-heading {
    font-weight: $weight-bold;
}

.panel-tabs {
    a {
        border-width: $border-width;
        margin-bottom: -$border-width;
    }
}

.panel-block {
    &:hover {
        color: $button-hover;

        .panel-icon {
            color: $button-hover;
        }
    }
}

.tabs {
    a {
        border-bottom-width: $border-width;
        margin-bottom: -$border-width;
    }

    ul {
        border-bottom-width: $border-width;
    }

    &.is-boxed {
        a {
            border-width: $border-width;
        }
    }

    &.is-toggle {
        li a {
            border-width: $border-width;
            margin-bottom: 0;
        }

        li + li {
            margin-left: -$border-width;
        }
    }
}

.hero {
    // Colors
    .nav {
        background-color: $primary;
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            .nav {
              background-color: $color;
            }
            .nav-item a:not(.button),
            a.nav-item {
                color: $color-invert;

                &.is-active,
                &:hover {
                    background-color: darken($color, 10);
                    color: $color-invert;
                }
            }
        }
    }
}
