////////////////////////////////////////////////
// DARKLY
////////////////////////////////////////////////
$grey-lighter: #dbdee0;
$grey-light:   #8c9b9d;
$grey:         darken($grey-light, 18);
$grey-dark:    darken($grey, 18);
$grey-darker:  darken($grey, 23);

$orange: #e67e22;
$yellow: #f1b70e;
$green: #2ecc71;
$turquoise: #1abc9c;
$blue: #3498db;
$purple: #8e44ad;
$red: #e74c3c;
$white-ter: #ecf0f1;
$primary: $turquoise !default;
$yellow-invert: #fff;

$family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;

$radius-small: 3px;
$radius: .4em;
$radius-large: 8px;
$size-6: 15px;
$size-7: .85em;
$title-weight: 500;
$subtitle-weight: 400;
$subtitle: $grey-dark;

$border-width: 2px;
$border: $grey;

$body-background: darken($grey-darker, 4);
$body-size: 15px;

$background: $grey-darker;
$button-background: $background;
$button-border: lighten($button-background, 15);

$title: #fff;
$subtitle: $grey-light;
$subtitle-strong: $grey-light;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$link: $turquoise;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 5);
$link-focus-border: $grey-light;

$button: $primary;
$button-hover: darken($text, 5); // text-dark
$button-focus: darken($text, 5); // text-dark
$button-active: darken($text, 5); // text-dark

$input-hover: $grey-light;
$input-disabled-background: $grey-lighter;
$input-disabled-border: $grey-lighter;

$table: $text;
$table-head: $grey-lighter;
$table-background: $grey-dark;
$table-border: $grey;

$table-row-hover-background: $grey-darker;
$table-row-even-background: $grey-darker;
$table-row-even-hover-background: lighten($grey-darker, 4);

$pagination-border: $border;

$nav-height: 4rem;
