// Overrides
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);

.box {
  box-shadow: none;
  border-style: solid;
  border-width: 1px 1px $thickness 1px;
  border-color: $border;
}

.button {
  height: 2.648em;
}

.button {
  transition: all 300ms ease;
  border-style: solid;
  border-width: 1px 1px $thickness 1px;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;

  &.is-hovered,
  &:hover {
    border-bottom-width: $thickness - 1;
  }

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: none;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      border-color: darken($color, 5);

      &.is-hovered,
      &:hover {
        border-color: darken($color, 10) !important;
      }

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: darken($color, 10);
        box-shadow: 0 0 0 2px rgba($color, 0.25);
      }
    }
  }
}

.input,
.textarea {
  box-shadow: inset 0 2px 0 rgba($black, 0.075);
}

.select:after {
  margin-top: -0.575em;
}

.select select {
  border-width: 1px 1px $thickness 1px;
}

.notification {
  border-style: solid;
  border-width: 1px 1px $thickness 1px;
  border-color: $border;
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      border-color: darken($color, 5);
    }
  }
}

.progress {
  border-radius: $radius-large;
}

.card {
  box-shadow: none;
  border-style: solid;
  border-width: 1px 1px $thickness 1px;
  border-color: $border;
  background-color: rgba($grey-lighter, 0.075);
  border-radius: $radius;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $grey-lighter;
    border-radius: $radius $radius 0 0;
  }
}

.message {
  .message-body {
    border-style: solid;
    border-width: 1px 1px $thickness 1px;
  }
}

.nav {
  border: solid $grey-lighter;
  border-width: 1px 1px $thickness 1px;
}

.hero {
  .nav {
    border: none;
    box-shadow: 0 $thickness 0 rgba($border, 0.5);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .nav {
        box-shadow: 0 $thickness 0 rgba($color-invert, 0.2);
      }
    }
  }
}

.pagination-link,
.pagination-next,
.pagination-previous {
  border-width: 1px 1px $thickness 1px;
}

.tabs {
  &.is-boxed li.is-active a {
    border-top-width: $thickness;
  }

  &.tabs.is-toggle li.is-active a {
    box-shadow: inset 0 -#{$thickness} 0 darken($primary, 5);
    border-color: darken($primary, 5);
  }
}
