////////////////////////////////////////////////
// LUMEN
////////////////////////////////////////////////
$orange:       #FF851B;
$green:        #28B62C;
$blue:         #63c6ec;
$red:          #FF4136;

$primary: #158CBA;

$info-invert: #fff;

$family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$thickness: 4px;

$pagination-current-border: darken($primary, 5);
