////////////////////////////////////////////////
// SPACELAB
////////////////////////////////////////////////
$grey-darker:  #2d2d2d;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #999;
$grey-lighter: #eee;

$orange:       #D47500;
$green:        #3CB521;
$blue:         #3399F3;
$red:          #CD0200;

$primary: #446E9B !default;
$warning: $orange;
$warning-invert: #fff;
$link: #807f7f;

$family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$subtitle-color: $grey;

$navbar-item-active-color: $primary;
$navbar-item-hover-background-color: transparent;

$bulmaswatch-import-font: true !default;
