////////////////////////////////////////////////
// SANDSTONE
////////////////////////////////////////////////
$grey-darker: #2a2a26;
$grey-dark: #3e3f3a;
$grey: #8e8c84;
$grey-light: #c9c8b8;
$grey-lighter: #e6e1d7;

$white-ter: #f8f5f0;

$orange: #f47c3c;
$green: #93c54b;
$blue: #29abe0;
$red: #d9534f;

$primary: #325d88 !default;
$warning: $orange;
$warning-invert: #fff;

$family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-size: 14px;

$link: #8e8c84;

$pagination-background-color: $grey-lighter;

$navbar-background-color: $grey-dark;
$navbar-item-color: $grey-light;
$navbar-item-hover-color: $white-ter;
$navbar-item-active-color: $white-ter;
$navbar-item-hover-background-color: $grey-darker;
$navbar-dropdown-arrow: $navbar-item-color;

$bulmaswatch-import-font: true !default;

$card-shadow: 0 2px 3px rgba($grey-dark, 0.1), 0 0 0 1px rgba($grey-dark, 0.1);
