@import '../litera/bulmaswatch';

nav.main-nav {
    border-radius: 0;
    min-height: 4rem;

    .title {
        color: #fff;
        font-weight: bold;
    }

    .logo {
      padding-right: 10px;
    }

    .nav-item {
        margin: 0.75rem 0.25rem;
        border-radius: $radius;
    }
}

.home-page {
    .main-nav {
        background-color: transparent !important;
        box-shadow: none !important;

        .nav-item {
            &.is-active,
            &:hover {
                background-color: rgba($black, 0.05) !important;
            }
        }
    }

    .hero-body {
        .title {
            font-weight: 200;
            font-size: 3rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }

        .subtitle {
            font-weight: 700;
        }

        a {
            text-decoration: underline;
        }
    }

    .iframe > * {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .section.themes {
      padding-top: 5rem;
      padding-bottom: 5rem;
        .box {
            padding: 3px;

            .block {
                margin: 1rem 0;
            }
        }
    }
}
