// Overrides
@import url( 'https://fonts.googleapis.com/css?family=Muli:400,700');

.content blockquote {
  border-color: $primary;
}

.button,
.control.has-icons-left .icon,
.control.has-icons-right .icon,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea {
  height: 2.572em;
}

.button {
  &.is-active,
  &:active {
    box-shadow: inset 1px 1px 4px rgba($grey-darker, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 10);
      }

      &.is-active,
      &:active {
        box-shadow: inset 1px 0 3px rgba($grey-darker, 0.3);
        background-color: darken($color, 10);
      }
    }
  }
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.progress {
  height: $size-small;
}

.progress,
.tag {
  border-radius: $radius;
}

.navbar {
  border-radius: $radius;

  .has-dropdown .navbar-item {
    @include desktop {
      color: $text;

      &.is-active {
        background-color: $navbar-dropdown-item-hover-background-color;
      }
    }
  }

  .navbar-burger {
    span {
      background-color: $navbar-item-color;
    }

    &:hover {
      background-color: $navbar-item-hover-background-color;

      span {
        background-color: $navbar-item-active-color;
      }
    }
  }
}

.nav {
  background-color: $primary;
  border-radius: $radius;
  color: $white;
  @media screen and (max-width: $tablet - 1) {
    .nav-menu {
      background-color: $primary;
      border-radius: $radius;
    }
  }

  .subtitle,
  .title {
    color: $white;
  }

  .nav-item a:not(.button),
  a.nav-item:not(.button) {
    color: $white;

    &:hover {
      background-color: $primary-dark;
      color: $white-bis;
    }
    // Modifiers
    &.is-active {
      color: $white;
      background-color: $primary-dark;

      &.is-tab {
        border-bottom-color: $white;
      }
    }
  }

  .nav-toggle {
    &:hover {
      background-color: $button-active-color;
    }

    span {
      background-color: $white;
    }
  }
}

.hero {
  // Colors
  .nav {
    background-color: $primary;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .nav {
        background: none;
      }

      .nav-item a:not(.button),
      a.nav-item {
        color: $color-invert;

        &.is-active,
        &:hover {
          background-color: darken($color, 10);
          color: $color-invert;
        }
      }
    }
  }
}

.menu {
  padding: 1em;
  background-color: lighten($primary, 50);

  .menu-list a:not(.is-active) {
    transition: all 300ms;

    &:hover {
      background-color: lighten($primary, 40);
    }
  }
}
