<section class="section" id="modal">
  <h1 class="title">Modal</h1>
  <hr>
  <a class="button is-primary is-large" data-target="#myModal" onclick="$('#myModal').toggleClass('is-active')">Launch example modal</a>
  <div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete"></button>
      </header>
      <section class="modal-card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </section>
      <footer class="modal-card-foot">
        <a class="button is-primary">Save changes</a>
        <a class="button">Cancel</a>
      </footer>
    </div>
  </div>
</section>
