/*! bulmaswatch v0.3.2 | MIT License */
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";
@import "variables";
@import "bulma";

html {
    font-size: 15px;
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
    height: 2.6667em;
}

.button {
    &.is-active,
    &.is-focused,
    &:active,
    &:focus {
        box-shadow: inset 1px 1px 4px rgba($grey-darker, 0.3);
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            &.is-hovered,
            &:hover {
                background-color: darken($color, 10);
            }

            &.is-active,
            &.is-focused,
            &:active,
            &:focus {
                box-shadow: inset 1px 0 3px rgba($grey-darker, 0.3);
                background-color: darken($color, 10);
            }
        }
    }
}

.input,
.textarea {
    box-shadow: none;
}

.box,
.card {
    box-shadow: 0 0 0 1px $border;
}

.notification {
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            a:not(.button) {
                color: $color-invert;
                text-decoration: underline;
            }
        }
    }
}

.progress {
    height: $size-small;
}

.progress,
.tag {
    border-radius: $radius;
}

.nav {
    background-color: $black-ter;
    border-radius: $radius;
    color: $white;

    .subtitle,
    .title {
        color: $white;
    }

    .nav-item a:not(.button),
    a.nav-item:not(.button) {
        color: $white;

        &:hover {
            background-color: $button-hover;
            color: $white-bis;
        }
        // Modifiers
        &.is-active {
            color: $white;
            background-color: $black-bis;

            &.is-tab {
                border-bottom-color: $primary;
            }
        }
    }

    .nav-toggle {
        &:hover {
            background-color: $button-active;
        }

        span {
            background-color: $white;
        }
    }
}

.hero {
    // Colors
    .nav {
        background-color: $black-ter;
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);

        &.is-#{$name} {
            .nav {
                background: none;
            }

            .nav-item a:not(.button),
            a.nav-item {
                color: $color-invert;

                &.is-active,
                &:hover {
                    background-color: darken($color, 10);
                    color: $color-invert;
                }
            }
        }
    }
}
