<section class="section" id="notifications">
  <h1 class="title"> Notifications </h1>
  <hr>
  <div class="columns">
    <div class="column">
      <div class="notification">
        <button class="delete"> </button> Lorem ipsum dolor sit amet,
        <a href="#">consectetur</a> adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
      <div class="notification is-primary">
        <button class="delete"> </button> Primar lorem ipsum dolor sit amet,
        <a href="#">consectetur</a> adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
      <div class="notification is-info">
        <button class="delete"> </button> Info lorem ipsum dolor sit amet,
        <a href="#">consectetur</a> adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
    </div>
    <div class="column">
      <div class="notification is-success">
        <button class="delete"> </button> Success lorem ipsum dolor sit amet,
        <a href="#">consectetur</a> adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
      <div class="notification is-warning">
        <button class="delete"> </button> Warning lorem ipsum dolor sit amet,
        <a href="#">consectetur</a> adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
      <div class="notification is-danger">
        <button class="delete"> </button> Danger lorem ipsum dolor sit amet,
        <a href="#">consectetur</a> adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
    </div>
  </div>
</section>
