<section class="section" id="tag">
  <h1 class="title"> Tag </h1>
  <hr>
  <div class="tags">
    {% for m in page.modifiers offset:1 %}
    <span class="tag {% if m != '' %}is-{{m}}{% endif %}"> {{m | capitalize}} </span>
    {% endfor %}
    <span class="tag is-primary is-medium"> Medium </span>
    <span class="tag is-info is-large"> Large </span>
    <span class="tag is-success"> Bar
      <button class="delete is-small"> </button>
    </span>
    <span class="tag is-warning is-medium"> Hello
      <button class="delete is-small"> </button>
    </span>
    <span class="tag is-danger is-large"> World
      <button class="delete"> </button>
    </span>
  </div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">npm</span>
        <span class="tag is-info">0.5.0</span>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">build</span>
        <span class="tag is-success">passing</span>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">chat</span>
        <span class="tag is-primary">on gitter</span>
      </div>
    </div>
  </div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">Technology</a>
        <a class="tag is-delete"></a>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">CSS</a>
        <a class="tag is-delete"></a>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">Flexbox</a>
        <a class="tag is-delete"></a>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">Web Design</a>
        <a class="tag is-delete"></a>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">Open Source</a>
        <a class="tag is-delete"></a>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">Community</a>
        <a class="tag is-delete"></a>
      </div>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">Documentation</a>
        <a class="tag is-delete"></a>
      </div>
    </div>
  </div>
</section>