<section class="section" id="tag">
  <h1 class="title"> Tag </h1>
  <hr>
  <div class="tags">
    <span class="tag is-black"> Black </span>
    <span class="tag is-dark"> Dark </span>
    <span class="tag is-light"> Light </span>
    <span class="tag is-white"> White </span>
    <span class="tag is-primary"> Primary </span>
    <span class="tag is-info"> Info </span>
    <span class="tag is-success"> Success </span>
    <span class="tag is-warning"> Warning </span>
    <span class="tag is-danger"> Danger </span>
    <span class="tag is-primary is-medium"> Medium </span>
    <span class="tag is-info is-large"> Large </span>
    <span class="tag is-success"> Bar
      <button class="delete is-small"> </button>
    </span>
    <span class="tag is-warning is-medium"> Hello
      <button class="delete is-small"> </button>
    </span>
    <span class="tag is-danger is-large"> World
      <button class="delete"> </button>
    </span>
  </div>
</section>
