////////////////////////////////////////////////
// LUX
////////////////////////////////////////////////
$grey: #919aa1;
$grey-light:   lighten(#919aa1, 10%);
$grey-lighter: lighten(#919aa1, 20%);

$green:        #4BBF73;
$blue:         #1F9BCF;
$red:          #d9534f;

$primary: #222 !default;

$family-sans-serif: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$radius: 0;
$radius-small: $radius;
