////////////////////////////////////////////////
// CYBORG
////////////////////////////////////////////////
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$primary: #2A9FD6 !default;
$primary-light: lighten($primary, 10);

$white-ter:    #f5f5f5;

$body-background-color: #000;
$background: $grey-darker;

$border: $grey-dark;

$title-color: #fff;
$subtitle-color: $white-ter;
$subtitle-strong: $white-ter;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$link-hover: $primary-light;
$link-focus: $primary-light;
$link-active: $primary-light;
$link-hover-border: $grey-dark;
$link-active-border: $grey;

$button-color: $text;
$button-background-color: #111;
$button-border-color: $grey-darker;
$button-hover-color: $grey-lighter;
$button-focus: $grey-light;
$button-active-color: $grey-light;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-darker;
$table-cell-border: 1px solid $grey-dark;

$table-row-hover-background-color: $grey-dark;
$table-striped-row-even-background-color: $grey-dark;
$table-striped-row-even-hover-background-color: lighten($grey-dark, 4);

$pagination-border-color: $grey-darker;
$pagination-disabled: $grey-light;
$pagination-disabled-background-color: $grey-dark;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;
