////////////////////////////////////////////////
// CYBORG
////////////////////////////////////////////////
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$primary: #2A9FD6 !default;
$primary-light: lighten($primary, 10);

$white-ter:    #f5f5f5;

$body-background: #000;
$background: $grey-darker;

$border: $grey-dark;

$title: #fff;
$subtitle: $white-ter;
$subtitle-strong: $white-ter;

$text: #fff;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$link-hover: $primary-light;
$link-focus: $primary-light;
$link-active: $primary-light;
$link-hover-border: $grey-dark;
$link-active-border: $grey;

$button: $text;
$button-background: #111;
$button-border: $grey-darker;
$button-hover: $grey-lighter;
$button-focus: $grey-light;
$button-active: $grey-light;

$table: $text;
$table-head: $grey-lighter;
$table-background: $grey-darker;
$table-border: $grey-dark;

$table-row-hover-background: $grey-dark;
$table-row-even-background: $grey-dark;
$table-row-even-hover-background: lighten($grey-dark, 4);

$pagination-border: $grey-darker;
$pagination-disabled: $grey-light;
$pagination-disabled-background: $grey-dark;
